body {
  background-color: #aedcd1;
}
body, ul, h1, h2, p, li, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

p {
    font-size: 18px;
}

hr {
  border: 2px solid #3b596c;
}

header {
  background-color: rgb(72, 111, 101);
  padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.title {
  background-color: #8dc7b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1 {
  font-size: 30px;
  text-decoration: underline;
  background-color: #8dc7b8;
  color: black;
}
header h2 {
  font-size: 12px;
  background-color: #8dc7b8;
}

.selfie {
  height: 40px;
  width: 40px;
  border: solid 4px #486f65;
  border-radius: 30px;
}

.banner{
  position: relative;
}
.banner img{
  max-width: 100%;
  margin-top: 88px;
}

article {
  display: flexbox;
}
article h2 {
  text-align: center;
  display: absolute;
  margin-top: 100px;
} 

.card  {
  background-color: #9bcff0;
  border: 5px solid #3b596c;
  border-radius: 30px;
}

.card p {
  background-color: #9bcff0;
}

.article_img {
  width: 100%;
  justify-content: center;
} 

.article_img img {
 width: 80%;
 display: block;
 margin: auto;
 padding: 50px;
}